
img.details{
	width:33%;
	margin: 15px auto;
}
#sitemap {
	
	margin-top: 2%;
}

#footer{
	margin-left: 500px;
    margin-top: 50px;
   margin: 0 auto;
    margin-bottom: 50px;
}
#copyright {
	margin-top: 40px;
	text-align:center;
	color:#FFFAF0;
}