
#footer-container{
	background-color:#992B00;
	border-radius: 20px;
}

#footer{
	/* position: absolute; */
	margin-top: 20px;
	background-color: #992B00;
	border-radius: 20px;
}	
img.details{
	width:33%;
	margin: 15px auto;
}
#sitemap {
	position: relative;
	margin-left: 43%;
	top: 50%;
}

#copyright {
	text-align:center;
	color:#FFFAF0;
}