@charset "utf-8";


.logo-container {
    margin: 20px 20px 20px 0;  
    
  
}
.logo-img {
    float: left;
    
}
.logo-img img {
    display: block;
    margin-bottom: 10px;
    height:100px;
    width: 100px;
}
.logo-title {
    margin-left: 120px
}






#btn-primary {
	position:absolute;
}

#dropdown{
	height: 320px;
    width: 420px;
    left:-370px;
}

#header-close-button{
	margin-top: -10px;	
}

#cart-window{
	bottom:35px;
	right: 75px;
}

#console-debug {
	position:absolute;
	top: 50px;
	left:0px;
	width:30%;
	height:500px;
	
}

#console-debug pre {
	height:500px;
	overflow-y:scroll;
}

#cart{
	border: 1px solid #E5E5E5;
	margin-top:6px;
	border-radius: 3px;
	/* margin-left: -60px; */
	font-size:12px;
	height: 28px;
}

#tblGrid{
	box-shadow:0px 0px;
}

.title{
	position:relative;
	top:3px;
	left:10px;
}

#icon{
	position:relative;
	left:50px;
}

#cart-menu{
	position:relative;
	left:-40px;
}


#polyglotLanguageSwitcher, #polyglotLanguageSwitcher * {
	margin: 0;
	padding: 0; 
	outline: none;
}

#polyglotLanguageSwitcher ul {
	list-style: none;	
}

#polyglotLanguageSwitcher {
	margin-top: 6px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #444;
	line-height: normal;
	position: relative; /* sets the initial position for the drop-down menu */	
	z-index: 100;
	background-color:#511515;
	color:#FFFAF0;
}


#polyglotLanguageSwitcher form {
	display: none;	
}

/* ---------------------------------------------------------------------- */
/* JS-created Code
/* ---------------------------------------------------------------------- */
#polyglotLanguageSwitcher a {
	text-decoration: none;
	display: block;	
	padding: 0.5em 6px 0.5em 28px; /* 6px 6px 6px 28px */
	color: #FFFAF0;
	width: 100px;
	background-repeat: no-repeat;
	background-position: 6px center; 
}

#polyglotLanguageSwitcher a:hover {
	color: #FFFAF0;	
}

#polyglotLanguageSwitcher a.current:link, #polyglotLanguageSwitcher a.current:visited, #polyglotLanguageSwitcher a.current:active {
	position: relative; /* sets the initial position for the trigger arrow */
	background-color:#CD3700;
	
	border: 1px solid #E5E5E5;
	border-radius: 3px;
	/* height: 1.25em; 15px */
}

#polyglotLanguageSwitcher a.current:hover, 
#polyglotLanguageSwitcher ul.dropdown li:hover {
	background-color:#992B00;
}

#polyglotLanguageSwitcher a.active { /* This style is applied as long as the drop-down menu is visible. */
	border-bottom: none !important;
	border-radius: 3px 3px 0 0 !important;
}

#polyglotLanguageSwitcher span.trigger {
	display: block;
	position: absolute;
	width: 20px;
	height: 5px;
	text-indent: -10000em;
	top: 10px;
    right: -5px;
}

#polyglotLanguageSwitcher a.current:link span.trigger, #polyglotLanguageSwitcher a.current:visited span.trigger {
	background: url(../images/arrow-down.gif) no-repeat left top;	
}

#polyglotLanguageSwitcher a.current:hover span.trigger, #polyglotLanguageSwitcher a.current:active span.trigger, #polyglotLanguageSwitcher a.active span.trigger {
	background-position: left bottom !important;
}

/* Drop-Down Menu */

#polyglotLanguageSwitcher ul.dropdown { 
	display: none;
	position: absolute;
	top: 2.333em; /* 28px */
	left: 0;
	background-color:#511515;
	border: 1px solid #E5E5E5;
	border-top: none !important;
	border-radius: 0 0 3px 3px;
}

#polyglotLanguageSwitcher ul.dropdown li { 
	border-top: 1px dotted #D4D4D4;
}

#polyglotLanguageSwitcher ul.dropdown li:last-child { 
	border-radius: 0 0 3px 3px;
}

/* Flags */

#en { 
	background-image: url(../images/gb.png);
}

#fr { 
	background-image: url(../images/fr.png);	
}

#gr { 
	background-image: url(../images/gr.png);	
}

#it { 
	background-image: url(../images/it.png);	
}

#es { 
	background-image: url(../images/es.png);	
}