@charset "utf-8";
html, body {
	
	
}

.container .header {
   	position:relative;
   	top:15px;
   	right: 15px;
   	text-decoration: underline;
   	color: white;
	padding-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,p{
	color:white;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
    background-color: #992B00 !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #1B1818;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: black;
    border-color: #1B1818;
}

.dropdown-menu {
    background-color: #992B00;
}


.dropdown-menu > li > a {
   	color: #1B1818;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #1B1818;
}

.container{
   	margin: 0px auto; 
   	margin-bottom: 0px;
   	max-width: 100%;
   	height:auto;
	margin-top: 20px;
	//background-color:#520000;
	background-color:#520000;
    border-radius: 20px; !important;
}


.container:before {
    content: ' ';
    display: block;
    position: fixed;
	overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    background-image: url("../images/library-1.jpg");
    background-attachment: fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
    background-repeat: no-repeat;
    -ms-background-size: cover;
   
    
    
}


.panel-body#NewsAndEventsBody,#StudyRoomsBody,#LibrariesBody{
	
	background-color: #5B2A2A;
}

#News,#Events{
	background-color: #5B2A2A;
}

.panel-body#search-book,#search-article,#search-journal{
	/* //background-color: #2C525B; */
	background-color: #5B2A2A;
	margin-bottom:15px;
}

.panel-body #libraries-tab,#studyRooms-tab,#searchResults{
	background-color: #992B00; 
}

#Search_Argument,#artclSubject,#jnltitle{
	margin-left: 15px;
}

#results-grid,#confirmLoan-grid {
	background-color: #5B2A2A;
	
}
#tabs-bg,#easy-search-bg,#main-bg,#searchContainer{
	//background-color: #2C525B;
	background-color:#B8742D
}

#news-bg{
	 /*background-color: #992B00;*/ 
}



#main-tabs a,#searchContainer,#results-grid,#lib-grid,#stdr-grid,#confirmLoan-grid{
	color:#FFFAF0;
}

.nav-tabs > li > a:hover{
  background-color:#5B2A2A; !important;
}

 .nav-tabs > li.active > a,
 .nav-tabs > li.active > a:hover{
 background-color:#5B2A2A; !important;
 }

.upper-nav ul li {
	/* display:inline-block; */
  padding-left: 15px;
 /*  padding-right: 15px; */
}



.upper-nav ul li:last-child {
  padding-right: 0;
}


.upper-nav ul li a {
  background: #992B00;
  color: #FFFAF0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding:0;
  padding-right: 0;
  margin-top: 10px;
}


.upper-nav ul li a i{
	margin-right:3px;
}


.upper-nav ul li a:hover {
	color:#996600;
	background-color:#5B2A2A;
}

#lang {
	border: solid 3px #3071a9;
	margin-top:10px;
}


#reasultsHeader{
	margin-top:30px;
	margin-left:420px;
}

.panel-body#searchResults{
	background-color: beige;
}

#confirmLoan-Button{
	position: relative;
	float: right;
}
  


#button-ref ,#confirmLoan-Button{
	display: block;
    width: 210px;
    height: 40px;
    background: #992B00;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

#search-btn ,#lib-search,#confirmLoan-Button,#advancedSearchButton,#loan-Button,#modal-button{
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
	background: rgba(153,43,0,1);
/* background: -moz-linear-gradient(left, rgba(153,43,0,1) 6%, rgba(194,84,4,1) 22%, rgba(255,146,10,1) 46%, rgba(211,101,6,1) 63%, rgba(153,43,0,1) 85%);
background: -webkit-gradient(left top, right top, color-stop(6%, rgba(153,43,0,1)), color-stop(22%, rgba(194,84,4,1)), color-stop(46%, rgba(255,146,10,1)), color-stop(63%, rgba(211,101,6,1)), color-stop(85%, rgba(153,43,0,1)));
background: -webkit-linear-gradient(left, rgba(153,43,0,1) 6%, rgba(194,84,4,1) 22%, rgba(255,146,10,1) 46%, rgba(211,101,6,1) 63%, rgba(153,43,0,1) 85%);
background: -o-linear-gradient(left, rgba(153,43,0,1) 6%, rgba(194,84,4,1) 22%, rgba(255,146,10,1) 46%, rgba(211,101,6,1) 63%, rgba(153,43,0,1) 85%);
background: -ms-linear-gradient(left, rgba(153,43,0,1) 6%, rgba(194,84,4,1) 22%, rgba(255,146,10,1) 46%, rgba(211,101,6,1) 63%, rgba(153,43,0,1) 85%);
background: linear-gradient(to right, rgba(153,43,0,1) 6%, rgba(194,84,4,1) 22%, rgba(255,146,10,1) 46%, rgba(211,101,6,1) 63%, rgba(153,43,0,1) 85%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#992b00', endColorstr='#992b00', GradientType=1 ); */
border-color:rgba(153,43,0,1); !important;
}



hr.styled {
	background:url(../images/hr_design.png) no-repeat top center;
	height:30px;
	width:100%;
	border:none !important;
}

hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { 
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: white;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

 .borderline {
 	border-top: 3px solid #ddd
 }
  
#sidebar-table { 
    width: 200px !important; 
    float: left !important; 
}  




