@CHARSET "ISO-8859-1";


#reasultsHeader{
	margin-top:30px;
	margin-left:480px;
}

.panel-body#searchResults{
	background-color: beige;
}

#cartButton{
	left:30px;
}

#options{
	width:20px;
}