@CHARSET "UTF-8";
#container{
   margin: 0 auto;
   margin-bottom: 40px;
   max-width: 1200px;
}
.logo
{
text-align:center;
display:block;
}

#footer{
	margin-left: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}